<nav>
    <ul>
        <li>
            Diseño por Rodrigo Angulo en &copy; {{year}}
        </li>

        <li>
            <button mat-icon-button color="basic">
                <a href="https://github.com/RodrigoAnguloSantamaria" target="_blank"><img
                        src="../../../assets/git_ico.png" alt="acceso a github"></a>
            </button>
        </li>
        <li>
            <button mat-icon-button color="basic">
                <a href="https://www.linkedin.com/in/rodrigoangulosantamaria/" target="_blank"><img
                        src="../../../assets/linkedin_ico.webp" alt="acceso a linkedin"></a>
            </button>
        </li>
    </ul>
</nav>