<div class="container">
    <nav>
        <img src="https://www.feb.es/Documentos/Enlaces/[5780]feb_institucional_color.png"
            alt="logo seleccion española baloncesto masculino" />
        <ul>
            <a routerLink="/home">
                <li>HOME</li>
            </a>
            <a routerLink="/players">
                <li>JUGADORES</li>
            </a>
            <li>PARTIDOS</li>
            <a routerLink="/news">
                <li>NOTICIAS</li>
            </a>
            <a routerLink="/dashboard">
                <li>DASHBOARD</li>
            </a>
        </ul>

    </nav>
    <app-breadcrumb></app-breadcrumb>
</div>